Automat
Jinja2
MarkupSafe
PyGObject
PyJWT
PyNaCl
PyYAML
Pygments
SecretStorage
attrs
chardet
cloud-init
command-not-found
configobj
constantly
cuda-pathfinder
cuda-toolkit
dbus-python
distro-info
hyperlink
incremental
jeepney
jsonpatch
jsonschema
launchpadlib
more-itertools
netifaces
ninja
oauthlib
openai
pexpect
pip-chill
psutil
ptyprocess
pyasn1-modules
pycurl
pydantic_core
pymacaroons
pyrsistent
python-apt
python-magic
service-identity
sos
systemd-python
torch
ubuntu-pro-client
ufw
unattended-upgrades
zipp